@mixin font-poppins {
  font-family: "Poppins", sans-serif;
}

@mixin transition($property, $duration, $ease) {
  transition: $property $duration $ease;
}

@mixin button-hover {
  &:hover {
    scale: 1.05;
  }
}
