@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.slide__content {
  position: absolute;
  width: 70%;
  height: max-content;
  top: 50%;
  left: 5%;
  color: var(--secondary-color);
  text-align: left;
  font-style: normal;
  z-index: 2;
  @include font-poppins;

  div {
    h1 {
      font-size: calc(2.5 * var(--base-rem));
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: calc(1.25 * var(--base-rem));
      font-weight: lighter;
      color: #c9c9c9;
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    button {
      font-size: calc(1 * var(--base-rem));
      padding: calc(0.75 * var(--base-rem)) calc(1.25 * var(--base-rem));
      border: 1px solid var(--secondary-color);
      border-radius: 0.5rem;
      margin-right: 0.5rem;
      background: transparent;
      color: var(--secondary-color);
      font-weight: 400;
      cursor: pointer;
      @include transition(scale, 0.5s, ease);
      @include button-hover;

      &.more-info {
        background-color: var(--button-background);
        border: 1px solid var(--button-background);

        &::after {
          content: "\2192";
          font-size: calc(1 * var(--base-rem));
          margin-left: 0.75rem;
          font-weight: 400;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    div {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    width: 90%;

    div {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
